section.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;

  .logo-container {
    margin-right: 1.5rem;

    .logo-image {
      height: 100px; // Adjust size as needed
      width: auto;
    }
  }

  .button-row {
    display: flex;
    justify-content: flex-end;
    flex: 1;

    .flex-container {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }

    .button-container {
      display: flex;
      align-items: center;
      cursor: pointer;

      button, a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
}