footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #d7e8f6;
    color: darkblue;
    padding: 20px 0;
    text-align: left;
}
  
.wave {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1; 
  }

  
  